Repository ronny1020/react-json-formatter, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, feature, document, ci/cd, .storybook, storybook

ci(husky): add test
  .husky/pre-commit
  package.json
Labels: repo

chore(husky): add new line to pre-commit file
  .husky/pre-commit
Labels: none

Deploying to gh-pages from @ ronny1020/react-json-formatter@e4bbab9b69a4a115b5cc1f420b5d294d6e26ddcd 🚀
  project.json
Labels: repo

build(githubpage): add vite base of storybook
  .eslintrc
  .prettierrc
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Labels: repo

Deploying to gh-pages from @ ronny1020/react-json-formatter@e31938b2be3156c8aadf445a5e8397b2c3f1f659 🚀
  assets/Color-3YIJY6X7-03e2715d.js
  assets/Color-3YIJY6X7-03e2715d.js.map
  assets/Color-3YIJY6X7-cbc0f28e.js
  assets/Color-3YIJY6X7-cbc0f28e.js.map
  assets/DocsRenderer-EYKKDMVH-15be90ef.js
  assets/DocsRenderer-EYKKDMVH-15be90ef.js.map
  assets/DocsRenderer-EYKKDMVH-77f75f50.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js.map
  assets/OverlayScrollbars-VAV6LJAB-63548c6c.js
  assets/OverlayScrollbars-VAV6LJAB-63548c6c.js.map
  assets/OverlayScrollbars-VAV6LJAB-f1ac750b.js.map
  assets/WithTooltip-FBT32F6Q-0f22b6be.js
  assets/WithTooltip-FBT32F6Q-0f22b6be.js.map
  assets/WithTooltip-FBT32F6Q-336e831a.js
  assets/WithTooltip-FBT32F6Q-336e831a.js.map
  assets/formatter-S4K5WUZV-0fd6828e.js
  assets/formatter-S4K5WUZV-0fd6828e.js.map
  assets/formatter-S4K5WUZV-cbeb16a4.js.map
  assets/iframe-b2b587d9.js
  assets/iframe-b2b587d9.js.map
  assets/iframe-d84be734.js
  assets/iframe-d84be734.js.map
  assets/preview-1fdf6b20.js
  assets/preview-1fdf6b20.js.map
  assets/preview-fb3a4526.js
  assets/preview-fb3a4526.js.map
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js.map
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js.map
  iframe.html
  project.json
Labels: repo

revert(storybook): base of vite config
  .storybook/main.ts
Labels: none

Deploying to gh-pages from @ ronny1020/react-json-formatter@a3dc07335fa36cde184df50760c9eebb99c0a321 🚀
  assets/Color-3YIJY6X7-03e2715d.js
  assets/Color-3YIJY6X7-03e2715d.js.map
  assets/Color-3YIJY6X7-cbc0f28e.js
  assets/Color-3YIJY6X7-cbc0f28e.js.map
  assets/DocsRenderer-EYKKDMVH-15be90ef.js.map
  assets/DocsRenderer-EYKKDMVH-77f75f50.js
  assets/DocsRenderer-EYKKDMVH-77f75f50.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js.map
  assets/OverlayScrollbars-VAV6LJAB-63548c6c.js.map
  assets/OverlayScrollbars-VAV6LJAB-f1ac750b.js
  assets/OverlayScrollbars-VAV6LJAB-f1ac750b.js.map
  assets/WithTooltip-FBT32F6Q-0f22b6be.js
  assets/WithTooltip-FBT32F6Q-0f22b6be.js.map
  assets/WithTooltip-FBT32F6Q-336e831a.js
  assets/WithTooltip-FBT32F6Q-336e831a.js.map
  assets/formatter-S4K5WUZV-0fd6828e.js.map
  assets/formatter-S4K5WUZV-cbeb16a4.js
  assets/formatter-S4K5WUZV-cbeb16a4.js.map
  assets/iframe-b2b587d9.js
  assets/iframe-b2b587d9.js.map
  assets/iframe-d84be734.js
  assets/iframe-d84be734.js.map
  assets/preview-1fdf6b20.js
  assets/preview-1fdf6b20.js.map
  assets/preview-fb3a4526.js
  assets/preview-fb3a4526.js.map
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js.map
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js.map
  iframe.html
  project.json
Labels: repo

build(chromatic): init chromatic to replace github page
  .github/workflows/chromatic.yml
  .github/workflows/demo.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
Labels: repo

ci(chromatic): fix action with fetch-depth
  .github/workflows/chromatic.yml
Labels: none

feat(formatter): param json could use object
  README.md
  src/JsonFormatter.test.tsx
  src/__snapshots__/JsonFormatter.test.tsx.snap
  src/index.tsx
Labels: repo, test, feature

build(vite): add exclude test & storybook file
  vite.config.ts
Labels: repo

ci(action): add test building package action
  .github/workflows/build.yml
Labels: none

v0.4.0
  package.json
Labels: repo

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: repo

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

chore(pnpm): update pnpm lock version
  pnpm-lock.yaml
Labels: repo

ci(pnpm): use version 9
  .github/workflows/build.yml
Labels: none

ci(node): use version 20
  .github/workflows/build.yml
Labels: none

chore(storybook): update to version 8
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Labels: repo

ci(github): sync the node & pnpm version
  .github/workflows/lint.yml
  .github/workflows/vitest.yml
Labels: none

ci(eslint): adjust ignore-path
  .github/workflows/lint.yml
Labels: none

ci(eslint): use v3
  .github/workflows/lint.yml
Labels: none

ci(eslint): use my own lint script
  .github/workflows/lint.yml
Labels: none

build(chromatic): update to last
  .github/workflows/chromatic.yml
  package.json
  pnpm-lock.yaml
Labels: repo

ci(chromatic): add buildScriptName
  .github/workflows/chromatic.yml
Labels: none

ci(chromatic): update pnpm and node version
  .github/workflows/chromatic.yml
Labels: none

.github/labeler.yml:

repo:
  - '*'

test:
  - 'src/**/*.test.tsx'

feature:
  - src/**/*

document:
  - /**/*.md

ci/cd:
  - /**/*.yml

.storybook:
  - .storybook

storybook:
  - 'src/**/*.stories.tsx'
